menu "zwiebert: config_kvs"

    config CONFIG_KVS_HAVE_COMPONENT
      bool
      default y

    config APP_CFG_NAMESPACE
        string "Namespace for kvs settings storage"
        default "Settings"
        help
            Note: When changed, the previous saved settings data will become inacessible

endmenu

