[submodule "components/storage/spiffs"]
	path = components/storage/esp8266/spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "components/net_mqtt/esp8266/esp_mqtt"]
	path = components/net_mqtt/esp8266/esp_mqtt
	url = https://github.com/tuanpmt/esp_mqtt.git
