rsource  "cli/Kconfig"
rsource  "config_kvs/Kconfig"
rsource  "firmware_update/Kconfig"
rsource  "net_http_server/Kconfig"
rsource  "net/Kconfig"
rsource  "net_mqtt_client/Kconfig"
rsource  "stm32/Kconfig"
rsource  "txtio/Kconfig"
rsource  "uout/Kconfig"
rsource  "utils_misc/Kconfig"
rsource  "utils_time/Kconfig"
rsource  "weather/Kconfig"
