menu "zwiebert: STM32"

    config STM32_HAVE_COMPONENT
      bool 
      default y

    config STM32_USE_COMPONENT
      bool 
      default y

    config STM32_DEBUG
        bool "Enable stm32 component debug messages"
        default n

    config STM32_MAKE_COMPONENT_THREAD_SAFE
        bool "Make stm32 component generally thread safe"
        default y

    config STM32_MAKE_API_THREAD_SAFE
        depends on STM32_MAKE_COMPONENT_THREAD_SAFE
        bool "Make all stm32 API functions totally thread safe"
        default y

endmenu

